<h1>{{pageName}} Games</h1>
<table id="t01" border="1">
    <thead>
        <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Score</th>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Team 3</th>
            <th>Team 4</th>
        </tr>
    </thead>
    <tbody>
        {{#if rows.length }}
            {{#each rows }}
                <tr>
                    <td>{{this.time}}</td>
                    <td>{{this.location}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.Team1}}</td>
                    <td>{{this.Team2}}</td>
                    <td>{{this.Team3}}</td>
                    <td>{{this.Team4}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
        {{/if}}
    </tbody>
</table>
