<h1>{{pageName}}</h1>
<table id="t01" border="1">
    <thead>
        <tr>
            <th>School</th>
            <th>Location</th>
            <th>Teams</th>
        </tr>
    </thead>
    <tbody>
        {{#if rows.length }}
            {{#each rows }}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.location}}</td>
                    <td><a href="/schools/{{this.name}}">View Teams</a>
                </tr>
            {{/each}}
        {{else}}
            <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
        {{/if}}
    </tbody>
</table>
